{
	"dev": {
		"driver": "mysql",
		"host": "localhost",
		"user": "root",
		"database": "localijse_dev",
		"password": ""
	},
	"test": {
		"driver": "mysql",
		"host": "localhost",
		"user": "root",
		"database": "localijse_test",
		"password": ""
	},
	"prod": {
		"driver": "mysql",
		"host": "localhost",
		"user": "root",
		"database": "localijse_prod",
		"password": ""
	}
}